body {
    background-color: #F6F5F5;
}

label {
    margin: 0;
}

#content {
    margin-top: 6em;
    background-color: white;
    padding: 0;
}

.panel-default > .panel-heading {
    background-color: white;
    border-bottom: 1px dashed #ddd;
}

.panel-default > .panel-footer {
    background-color: white;
    border-top: 1px dashed #ddd;
    margin: 0;
    color: #999;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2#title {
    font-weight: bold;
    text-align: center;
    padding: 1em;
    border-bottom: #ddd;
    margin: 0;
}

#mark-all {
    text-align: right;
}

#tasks {
    list-style: none outside none;
}

#tasks label {
    font-weight: normal;
}

#tasks input {
    margin: 0 5px 0 0;
}

#tasks td {
    border: 0;
    padding: 1em;
}

#new-task {
    padding: 0 0 1em;
}

.checked label {
    text-decoration: line-through;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #F4F7FA;
}