body {
    background-color: #F6F5F5;
}

#content {
    margin-top: 6em;
    background-color: white;
    padding: 0;
}

.panel-default > .panel-heading {
    background-color: white;
    border-bottom: 1px dashed #ddd;
}

.panel-default > .panel-footer {
    background-color: white;
    border-top: 1px dashed #ddd;
    margin: 0;
    color: #999;
    padding-top: 1em;
    padding-bottom: 1em;
}

h3#title {
    font-weight: bold;
    text-align: center;
    padding: 1em;
    border-bottom: #ddd;
}

#mark-all {
    text-align: right;
}